@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

html{
  scroll-behavior: smooth;
}

.bg-terster{
    background-color: #faf7f3;
}

.heebo {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
}